:root {
  --cl-dark-1: hsl(217, 28%, 15%);
  --cl-dark-2: hsl(218, 28%, 13%);
  --cl-dark-3: hsl(216, 53%, 9%);
  --cl-dark-4: hsl(219, 30%, 18%);
  --cl-accent-1: hsl(176, 68%, 64%);
  --cl-accent-2: hsl(198, 60%, 50%);
  --cl-accent-3: hsl(0, 100%, 63%);
  --white: #fff;
  --ff-heading: "Raleway", sans-serif;
  --ff-body: "Open Sans", sans-serif;
  --fw-1: 400;
  --fw-2: 700; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 1199.98px) {
    html {
      font-size: 60%; } }
  @media (max-width: 991.98px) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 767.98px) {
    html {
      font-size: 50%; } }

body {
  font-family: var(--ff-body);
  font-size: 1.5rem;
  font-weight: var(--fw-1); }

li {
  list-style: none; }

a {
  color: unset;
  text-decoration: none; }

.container {
  max-width: 128rem;
  margin: 0 auto; }

.section-padding {
  padding: 0 6rem; }
  @media (max-width: 575.98px) {
    .section-padding {
      padding: 0 2rem; } }

.btn {
  font-family: var(--ff-heading);
  border: none;
  outline: none;
  padding: 1.5rem 7rem;
  background: linear-gradient(to right bottom, var(--cl-accent-1), var(--cl-accent-2));
  color: var(--white);
  border-radius: 100px;
  font-size: 1.5rem;
  font-weight: var(--fw-2);
  cursor: pointer;
  min-width: max-content; }
  .btn:hover {
    background: var(--cl-accent-1); }
  .btn:active {
    background: linear-gradient(to right bottom, var(--cl-accent-1), var(--cl-accent-2)); }

.btn-text {
  display: inline-block;
  color: var(--cl-accent-1);
  border-bottom: 1px solid var(--cl-accent-1);
  display: flex;
  align-items: center;
  line-height: 2.7rem; }
  .btn-text svg {
    margin-left: 0.5rem; }
    .btn-text svg use {
      fill: var(--cl-accent-1); }
  .btn-text:hover {
    color: var(--white);
    border-bottom: 1px solid var(--white); }
    .btn-text:hover svg use {
      fill: var(--white); }

.navbar {
  background-color: var(--cl-dark-1); }
  .navbar__content {
    display: flex;
    align-items: center;
    padding: 5rem 0; }
    @media (max-width: 575.98px) {
      .navbar__content {
        padding: 2rem 0; } }
  .navbar__brand {
    width: 14rem; }
    @media (max-width: 575.98px) {
      .navbar__brand {
        width: 10rem; } }
    .navbar__brand img {
      width: 100%;
      display: block; }
  .navbar__nav {
    margin-left: auto; }
  .navbar__list {
    display: flex;
    column-gap: 5rem; }
    @media (max-width: 575.98px) {
      .navbar__list {
        column-gap: 2.5rem; } }
    .navbar__list li {
      color: var(--white); }
      .navbar__list li a {
        font-family: var(--ff-heading);
        padding: 0.5rem 0;
        position: relative;
        transition: all 0.5s ease; }
        .navbar__list li a::before {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          height: 1px;
          background-color: var(--white);
          transform: scale(0);
          transition: all 0.3s ease; }
        .navbar__list li a:hover::before {
          transform: scale(1); }

.hero {
  min-height: 100vh;
  background-color: var(--cl-dark-1);
  background-image: url(../../images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain; }
  @media (max-width: 575.98px) {
    .hero {
      background-image: url(../../images/bg-curvy-mobile.svg); } }
  .hero__content {
    color: var(--white);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    padding-bottom: 15rem; }
    @media (max-width: 991.98px) {
      .hero__content {
        grid-template-columns: 1fr 5fr 1fr; } }
    @media (max-width: 575.98px) {
      .hero__content {
        padding-top: 3rem; } }
  .hero__img-box {
    grid-column: 2 / 3;
    margin-bottom: 3rem;
    width: 100%; }
    @media (max-width: 575.98px) {
      .hero__img-box {
        grid-column: 1 / -1;
        padding: 0 2rem; } }
    .hero__img-box img {
      width: 100%;
      object-fit: contain; }
  .hero__heading {
    grid-column: 2 / 3;
    font-family: var(--ff-heading);
    font-size: 3.6rem;
    line-height: 5.2rem;
    margin-bottom: 3rem; }
    @media (max-width: 767.98px) {
      .hero__heading {
        grid-column: 1 / -1; } }
    @media (max-width: 575.98px) {
      .hero__heading {
        font-size: 3rem;
        line-height: 4rem; } }
  .hero__paragraph {
    grid-column: 2 / 3;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    line-height: 2.7rem;
    padding: 0 5rem; }
    @media (max-width: 767.98px) {
      .hero__paragraph {
        grid-column: 1 / -1;
        padding: 0 2rem;
        font-size: 1.7rem; } }
  .hero__cta {
    grid-column: 2 / 3; }
    @media (max-width: 575.98px) {
      .hero__cta {
        grid-column: 1 / -1; } }

.feature {
  background-color: var(--cl-dark-2);
  padding-bottom: 15rem; }
  .feature__content {
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 15rem;
    grid-gap: 10rem; }
    @media (max-width: 1199.98px) {
      .feature__content {
        margin: 0 10rem; } }
    @media (max-width: 991.98px) {
      .feature__content {
        margin: 0; } }
    @media (max-width: 767.98px) {
      .feature__content {
        margin: 0 15rem; } }
    @media (max-width: 575.98px) {
      .feature__content {
        margin: 0 3rem;
        grid-gap: 8rem; } }
  .feature__card {
    justify-self: center;
    text-align: center; }
    .feature__card--1 {
      grid-column: 1 / 2; }
    .feature__card--2 {
      grid-column: 2 / 3; }
    .feature__card--3 {
      grid-column: 1 / 2; }
    .feature__card--4 {
      grid-column: 2 / 3; }
    @media (max-width: 767.98px) {
      .feature__card {
        grid-column: 1 / -1; } }
    .feature__card__img-box {
      margin: 0 auto;
      height: 10rem;
      width: 10rem;
      margin-bottom: 2rem; }
      @media (max-width: 575.98px) {
        .feature__card__img-box {
          height: 8rem;
          width: 8rem; } }
      .feature__card__img-box img {
        height: 100%;
        width: 100%;
        object-fit: contain; }
    .feature__card__title {
      font-family: var(--ff-heading);
      font-size: 2.2rem;
      margin-bottom: 2rem; }
    .feature__card__description {
      line-height: 2.2rem; }
      @media (max-width: 575.98px) {
        .feature__card__description {
          font-size: 1.6rem;
          line-height: 2.6rem; } }

.how {
  background-color: var(--cl-dark-2);
  padding-bottom: 15rem; }
  .how__content {
    display: flex;
    gap: 5rem; }
    .how__content > * {
      flex-basis: 100%; }
    @media (max-width: 767.98px) {
      .how__content {
        flex-direction: column; } }
  .how__img-box {
    width: 100%; }
    .how__img-box img {
      width: 100%;
      object-fit: contain; }
  .how__text {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.6rem; }
  .how__heading {
    font-family: var(--ff-heading);
    font-size: 3.6rem;
    line-height: 5.2rem;
    margin-bottom: 2rem; }
    @media (max-width: 575.98px) {
      .how__heading {
        font-size: 2.4rem;
        line-height: normal; } }
    .how__heading span {
      display: block; }
      @media (max-width: 575.98px) {
        .how__heading span {
          display: inline; } }
  .how__paragraph {
    line-height: 2.2rem;
    margin-bottom: 2rem; }
  .how__btn-text {
    align-self: flex-start; }

.testimonial {
  background-color: var(--cl-dark-2);
  color: var(--white);
  padding-bottom: 25rem;
  position: relative; }
  .testimonial__bg-img {
    position: absolute;
    transform: translateX(-1rem) translateY(-3.5rem);
    z-index: 0;
    width: 6rem; }
    @media (max-width: 575.98px) {
      .testimonial__bg-img {
        width: 3.5rem;
        transform: translateX(1rem) translateY(-2.5rem); } }
    .testimonial__bg-img img {
      width: 100%;
      object-fit: contain; }
  .testimonial__content {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem; }
    .testimonial__content > * {
      flex: 1 1 30rem; }
  .testimonial__card {
    background-color: var(--cl-dark-4);
    padding: 4rem 3rem;
    padding-bottom: 3rem;
    border-radius: 0.5rem;
    z-index: 1;
    box-shadow: 0 0.3rem 0.5rem rgba(255, 255, 255, 0.05); }
    @media (max-width: 575.98px) {
      .testimonial__card {
        padding: 3rem 2.5rem;
        padding-bottom: 2rem; } }
    .testimonial__card .quote {
      font-size: 1.6rem;
      line-height: 2.7rem;
      margin-bottom: 2rem; }
    .testimonial__card .person {
      display: flex;
      column-gap: 1.5rem; }
      .testimonial__card .person__img-box {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        overflow: hidden; }
        .testimonial__card .person__img-box img {
          height: 100%;
          width: 100%; }
      .testimonial__card .person__info .name {
        font-size: 1.2rem;
        font-weight: var(--fw-2);
        margin-bottom: 0.5rem; }
      .testimonial__card .person__info .job {
        font-size: 1.2rem; }

.cta {
  width: 75%;
  margin: 0 auto;
  background-color: var(--cl-dark-1);
  padding: 5rem 6rem;
  transform: translateY(-50%);
  color: var(--white);
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
  @media (max-width: 991.98px) {
    .cta {
      width: 85%; } }
  @media (max-width: 767.98px) {
    .cta {
      width: 100%; } }
  @media (max-width: 575.98px) {
    .cta {
      padding: 3rem 4rem; } }
  .cta__heading {
    font-size: 3.6rem;
    font-family: var(--ff-heading);
    margin-bottom: 3rem;
    line-height: 5.2rem; }
    @media (max-width: 575.98px) {
      .cta__heading {
        font-size: 2.5rem;
        line-height: normal;
        margin-bottom: 2rem; } }
  .cta__text {
    margin-bottom: 3rem; }
  .cta .form {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 991.98px) {
      .cta .form {
        flex-direction: column;
        align-items: center;
        row-gap: 2rem; } }
    .cta .form__input {
      padding: 1.5rem 3.5rem;
      border-radius: 100px;
      font-size: 1.5rem;
      outline: none;
      border: 2px solid transparent;
      flex: 1 1 70%;
      margin-right: 3rem; }
      .cta .form__input:invalid {
        border: 2px solid #ff4242; }
      .cta .form__input:valid {
        border: 2px solid #65e2d9; }
      @media (max-width: 991.98px) {
        .cta .form__input {
          margin-right: 0;
          width: 90%; } }
      @media (max-width: 575.98px) {
        .cta .form__input {
          width: 100%; } }
    .cta .form__btn {
      padding: 1.5rem 3rem;
      flex: 1 1 30%; }
      @media (max-width: 575.98px) {
        .cta .form__btn {
          align-self: stretch; } }

.footer {
  background-color: var(--cl-dark-3); }
  .footer__content {
    color: var(--white);
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) repeat(11, minmax(min-content, 3fr));
    column-gap: 2rem;
    margin-top: -10rem; }
    @media (max-width: 991.98px) {
      .footer__content {
        row-gap: 4rem; } }
  .footer__logo {
    grid-column: 1 / -1;
    margin-bottom: 4rem;
    width: 14rem; }
    @media (max-width: 575.98px) {
      .footer__logo {
        width: 10rem;
        margin-bottom: 0rem; } }
    .footer__logo img {
      width: 100%;
      display: block; }
  .footer__loc {
    grid-column: 1 / 2;
    text-align: center; }
  .footer__description {
    grid-column: 2 / 5; }
    @media (max-width: 991.98px) {
      .footer__description {
        grid-column: 2 / 8; } }
    @media (max-width: 575.98px) {
      .footer__description {
        grid-column: 2 / -1; } }
  .footer__contact {
    grid-column: 6 / 8; }
    @media (max-width: 1199.98px) {
      .footer__contact {
        grid-column: 5 / 8; } }
    @media (max-width: 991.98px) {
      .footer__contact {
        grid-column: 9 / 13; } }
    @media (max-width: 575.98px) {
      .footer__contact {
        grid-column: 1 / -1; } }
    .footer__contact > * {
      display: block;
      margin-bottom: 2rem; }
    .footer__contact span {
      margin-left: 1rem; }
  .footer__link-1 {
    grid-column: 8 / 9; }
    @media (max-width: 1199.98px) {
      .footer__link-1 {
        grid-column: 8 / 10; } }
    @media (max-width: 991.98px) {
      .footer__link-1 {
        grid-column: 1 / 5; } }
    @media (max-width: 575.98px) {
      .footer__link-1 {
        grid-column: 1 / -1; } }
    .footer__link-1 > * {
      display: block;
      margin-bottom: 1rem; }
  .footer__link-2 {
    grid-column: 9 / 11;
    font-size: 1.6rem;
    padding-left: 3rem; }
    @media (max-width: 1199.98px) {
      .footer__link-2 {
        grid-column: 10 / 12;
        padding-left: 0; } }
    @media (max-width: 991.98px) {
      .footer__link-2 {
        grid-column: 5 / 8; } }
    @media (max-width: 575.98px) {
      .footer__link-2 {
        grid-column: 1 / -1; } }
    .footer__link-2 > * {
      display: block;
      margin-bottom: 1rem; }
  .footer__social-link {
    grid-column: 11 / 13; }
    @media (max-width: 1199.98px) {
      .footer__social-link {
        grid-column: 12 / 13; } }
    @media (max-width: 991.98px) {
      .footer__social-link {
        grid-column: 1 / -1; } }
    .footer__social-link a i {
      border-color: #fff;
      margin: 0 0.5rem;
      font-size: 1.8rem; }
      @media (max-width: 1199.98px) {
        .footer__social-link a i {
          margin-bottom: 1rem; } }
      .footer__social-link a i:hover {
        color: var(--cl-accent-1); }
  .footer .attribution {
    grid-column: 1 / -1;
    text-align: center;
    margin: 8rem 0 2rem 0; }
    .footer .attribution a {
      font-family: var(--ff-heading);
      font-weight: var(--fw-2);
      position: relative; }
      .footer .attribution a::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 1px;
        background-color: var(--white);
        transform: scale(0);
        transition: all 0.3s ease; }
      .footer .attribution a:hover::before {
        transform: scale(1); }
