:root {
    --cl-dark-1: hsl(217, 28%, 15%); // intro and email sign up background
    --cl-dark-2: hsl(218, 28%, 13%); // main background
    --cl-dark-3: hsl(216, 53%, 9%); // footer background
    --cl-dark-4: hsl(219, 30%, 18%); // testimonials background

    --cl-accent-1: hsl(176, 68%, 64%); // inside call-to-action gradient
    --cl-accent-2: hsl(198, 60%, 50%); // inside call-to-action gradient
    --cl-accent-3: hsl(0, 100%, 63%); // error

    --white: #fff; // white

    --ff-heading: "Raleway", sans-serif;
    --ff-body: "Open Sans", sans-serif;

    --fw-1: 400;
    --fw-2: 700;
}
