:root {
     --c-primary-1: hsl(215, 51%, 70%); // Soft Blue
     --c-primary-2: hsl(178, 100%, 50%); // Cyan

     --c-neutral-1: hsl(217, 54%, 11%); // main BG
     --c-neutral-2: hsl(216, 50%, 16%); // card BG
     --c-neutral-3: hsl(215, 32%, 27%); // line
     --c-neutral-4: hsl(0, 0%, 100%); // white

     --main-ff: Outfit, sans-serif;

     --fw-1 : 300;
     --fw-2: 400;
     --fw-3: 600;
}