:root {
    --c-primary-1: hsl(0, 78%, 62%);
    --c-primary-2: hsl(180, 62%, 55%);
    --c-primary-3: hsl(34, 97%, 64%);
    --c-primary-4: hsl(212, 86%, 64%);

    --c-neutral-1: hsl(234, 12%, 34%);
    --c-neutral-2: hsl(229, 6%, 66%);
    --c-neutral-3: hsl(0, 0%, 98%);

    --fw-extra-light: 200;
    --fw-regular: 400;
    --fw-semi-bold: 600;
}
