/* Colors */
$primary: hsl(185, 75%, 39%);
$dark-1: hsl(0, 0%, 59%);
$dark-2: hsl(227, 10%, 46%);
$dark-3: hsl(229, 23%, 23%);

/* Fonts */
$font-size-1: 1.6rem;
$font-size-2: 1.8rem;

$font-weight-1: 400;
$font-weight-2: 700;

/* Base */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Kumbh Sans", sans-serif;
    background-color: $primary;
}

/* CONTAINER */
.container {
    margin: 0 auto;
    max-width: 144rem;
    height: 100vh;
    color: $dark-2;
    font-size: $font-size-1;
    font-weight: $font-weight-1;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CIRCLE BACKGROUND */
.circle {
    &__1,
    &__2 {
        position: absolute;
    }
    &__1 {
        top: -60rem;
        left: -30rem;
    }
    &__2 {
        bottom: -60rem;
        right: -30rem;
    }
}

/* CARD */
.card {
    background-color: #fff;
    width: 35rem;
    border-radius: 2rem;
    overflow: hidden;
    text-align: center;
    position: relative;

    /* HEADER */
    &__header {
        background-image: url(../images/bg-pattern-card.svg);
        height: 15rem;
        background-size: cover;
    }

    /* MAIN */
    &__main {
        padding: 0 2rem;
        border-bottom: 1px solid rgba($dark-1, 0.2);
    }

    &__photo {
        border-radius: 50%;
        height: 10rem;
        width: 10rem;
        border: 0.5rem solid #fff;
        margin-top: -5rem;
        margin-bottom: 2rem;
    }

    &__name {
        font-weight: $font-weight-2;
        font-size: $font-size-2;
        color: $dark-3;
        padding-bottom: 1.5rem;
    }

    &__age {
        color: $dark-1;
        font-weight: $font-weight-1;
    }

    &__location {
        margin-bottom: 2rem;
    }

    /* FOOTER */
    &__footer {
        display: flex;
        padding: 0 2rem;
    }

    &__item {
        flex: 1;

        padding: 3rem 3rem;
    }

    &__value {
        color: $dark-3;
        font-weight: $font-weight-2;
        font-size: $font-size-2;
    }

    &__meta {
        font-size: 1.2rem;
        margin-top: 0.5rem;
    }
}

/* ATTRIBUTION */
.attribution {
    font-size: 1.1rem;
    position: absolute;
    bottom: 0;

    a {
        color: $dark-3;
    }
}
